<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{*$title*}</title>
    <link rel="shortcut icon" href="{*$COMMON_PUBLIC*}/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{*$MIN*}/?f={*$MIN_PUBLIC*}/css/style.css&v=1.0">
</head>
<body>
<header>
	<nav id="nav">
		<ul>
			<li><a href="{*$CONTROLLER*}">我的博客</a></li>
		</ul>
		<script src="{*$PUBLIC*}/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
	</nav>
</header>