{*include file=$header PUBLIC=$PUBLIC CONTROLLER=$CONTROLLER title='百秀自己'*}
    
    <div class="mainContent">
        <aside>
            <div class="avatar">
                <img src="{*$face*}"/>
            </div>
            <section class="topspaceinfo">
                <span>{*$username*}</span><a href=""></a>
                <p>暂无个性签名</p>
            </section>
            <div class="userinfo">
                <p class="q-fans"> 文章：<a href="/" target="_blank">{*$count*}</a></p>
            </div>
            <section class="most">
                <h2>阅读排行</h2>
                <ul>
                {*foreach $list2 as $value*}
                    <li>
                        <a href="{*$CONTROLLER*}/detail?cid={*$value.id*}">{*$value.title|truncate:20*}<span>({*$value.click*}次)</span></a>
                    </li>
                {*/foreach*}
                </ul>
            </section>
            <section class="taglist">
                <h2>最近访客</h2>
                <ul>
                    <li><a href="/"><img src="gd.png" /></a></li>
                    <li><a href="/"><img src="gd.png" /></a></li>
                    <li><a href="/"><img src="gd.png" /></a></li>
                    <li><a href="/"><img src="gd.png" /></a></li>
                    <li><a href="/"><img src="gd.png" /></a></li>
                    <li><a href="/"><img src="gd.png" /></a></li>
                </ul>
                <a href="" class="more">查看更多</a>
            </section>
        </aside>
        <div class="blogitem">
            {*foreach $list1 as $value*}
                <article>
        <h2 class="title">
            <a href="#">{*$value.title*}</a>
            <span>时间({*$value.time|date_format:"Y-m-d"*}))&nbsp;&nbsp;阅读({*$value.click*})</span>
        </h2>
        <ul id="dd" class="text">{*$value.introduction*}</ul><div class="textfoot" id="detail"><a href="{*$CONTROLLER*}/detail?cid={*$value.id*}" id="{*$value.id*}" onclick="javascript:getDetail(this);return false;">阅读全文</a><a href="{*$CONTROLLER*}/reply?cid={*$value.id*}">评论({*$value.reply*})</a></div>
    </article>
    {*/foreach*}
    <div class="pages">
        <a href="{*$ACTION*}?page=1">首页</a>
        {*if $current > 1*}
            <a href="{*$ACTION*}?page={*$current-1*}">上一页</a>
        {*/if*}
        {*foreach $pages as $value*}
            {*if $value == $current*}
                <span>{*$current*}</span>
            {*else*}
                <a href="{*$ACTION*}?page={*$value*}">{*$value*}</a>
            {*/if*}
        {*/foreach*}
        {*if $current < $total*}
            <a href="{*$ACTION*}?page={*$current+1*}">下一页</a>
        {*/if*}
        <a href="{*$ACTION*}?page={*$total*}">尾页</a>
    </div>
        </div>
    </div>
    {*include file=$footer*}

<script type="text/javascript">

function getDetail(tag){
    var url = tag.href + '&type=ajax';
    var options = {
        onsuccess:function(data){
            tag.parentNode.previousSibling.innerHTML = data;
        },
        onerror:function(data){
            tag.parentNode.previousSibling.innerHTML = 'no data';
        }
    }
    Ajax.send(url,options);
}

    


/**
 *ajax请求
 */
var Ajax = {

    //////////创建xmlhttprequest对象
    createXMLHttp:function(){
        var versions = [
            function(){return new XMLHttpRequest();},
            function(){return new ActiveXObject("Microsoft.XMLHttp");},
            function(){return new ActiveXObject("MSXML2.XMLHttp.5.0");},
            function(){return new ActiveXObject("MSXML2.XMLHttp.4.0");},
            function(){return new ActiveXObject("MSXML2.XMLHttp.3.0");},
            function(){return new ActiveXObject("MSXML2.XMLHttp");}
        ];

        for(var i=0; i<versions.length; i++){
            try{
                //从中找到一个支持的版本并建立XMLHttp对象
                var request = versions[i]();
                if (request != null) {
                    return request;
                }
                
            }
            catch(exception){
                continue;
            }
        }

        throw new Error('您的浏览器不支持XMLHttpRequest');
    },

    ////////////////开始请求并返回数据
    send:function(url,options){

        ///////////设置请求参数
        var _options = {
            method:'GET',///请求方式
            asyn:true,///是否异步
            data:null,///请求数据
            onsuccess:function(){},///请求成功的回调函数
            onerror:function(){}///请求失败的回调函数
        };
        for ( var key in options) {
            _options[key] = options[key];
        }

        ////////////创建请求,发送,并返回数据
        var request = Ajax.createXMLHttp();
        request.onreadystatechange = function(){
            if(request.readyState == 4){
                if(request.status == 200){
                    _options.onsuccess(Ajax.getResponse(request));
                }else{
                    _options.onerror(Ajax.getResponse(request));
                }
            }
        }
        request.open(_options.method, url, _options.asyn);
        if(_options.method=='POST'){
            request.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        }
        request.send(_options.data);

        

    },

    //////////根据响应类型返回相应数据
    getResponse:function(request){
        switch(request.getResponseHeader('Content-Type')){
            case 'text/xml':
                return request.responseXML;
            case 'text/json':
                return JSON.parse(request.responseText);
            case 'text/javascript':
            case 'application/javascript':
            case 'application/x-javascript':
                return eval(request.responseText);
            default:
                return request.responseText;
        }
    }
}


</script>
</body>
</html>